.choosediv {
    background-color: #1C1C1E;
    color: white;
    width: 100%;
    max-width: 1920px;
    padding-top: 1px;
    padding-bottom: 20px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}